{% extends 'base.html' %}
{%block title%}NovelCenter{%endblock%}
{% load humanize %}

{% block conteudo %}
<div align="center">
    <div class="quick-search quick-search-inline ml-20 w-300px" id="kt_quick_search_inline">
        <!--begin::Form-->
        <form method="get" class="form-inline" action="{% url 'novel_busca' %}">
            <div class="input-group rounded bg-light">
                <div class="input-group-prepend">
												<span class="input-group-text">
													<span class="svg-icon svg-icon-lg">
														<!--begin::Svg Icon | path:/metronic/theme/html/demo5/dist/assets/media/svg/icons/General/Search.svg-->
														<svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                             height="24px" viewBox="0 0 24 24" version="1.1">
															<g stroke="none" stroke-width="1" fill="none"
                                                               fill-rule="evenodd">
																<rect x="0" y="0" width="24" height="24"></rect>
																<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                                                      fill="#000000" fill-rule="nonzero"
                                                                      opacity="0.3"></path>
																<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                                                      fill="#000000" fill-rule="nonzero"></path>
															</g>
														</svg>
                                                        <!--end::Svg Icon-->
													</span>
												</span>
                </div>
                <input name="termo" value="{{ request.GET.termo }}" type="search" class="form-control h-45px"
                       placeholder="Search..." aria-label="Search">
                <div class="input-group-append">
												<span class="input-group-text">
													<i class="quick-search-close ki ki-close icon-sm text-muted"></i>
												</span>
                </div>
            </div>
        </form>
        <!--end::Form-->
        <!--begin::Search Toggle-->
        <div id="kt_quick_search_toggle" data-toggle="dropdown" data-offset="0px,1px"></div>
        <!--end::Search Toggle-->
        <!--begin::Dropdown-->
        <div class="dropdown-menu dropdown-menu-left dropdown-menu-lg dropdown-menu-anim-up">
            <div class="quick-search-wrapper scroll ps" data-scroll="true" data-height="350"
                 data-mobile-height="200" style="height: 350px; overflow: hidden;">
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps__rail-y" style="top: 0px; right: 0px;">
                    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                </div>
            </div>
        </div>
        <!--end::Dropdown-->
    </div>
</div>
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            {% for novel in novels %}
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-custom gutter-b card-stretch" style="background-color:#EDEDED">
                    <div class="card-body pt-4">
                        <!--begin::User-->
                        <div class="d-flex align-items-center mb-7" style="justify-content: center;">
                            <!--begin::Pic-->
                            <div>
                                {% if novel.imagem %}
                                <a href="{% url 'novel_detalhes' novel.slug %}">
                                    <img src="{{ novel.imagem.url }}" alt="image">
                                </a>
                                {% endif %}
                            </div>
                            <!--end::Pic-->
                        </div>
                        <!--end::User-->
                        <!--begin::Desc-->
                        <!--begin::Title-->
                        <div class="d-flex flex-column">
                            <a href="{% url 'novel_detalhes' novel.slug %}" class="text-dark font-weight-bold text-hover-primary font-size-h4 mb-0">{{ novel.titulo }}</a>
                            <span class="text-muted font-weight-bold">{{ novel.categoria }}</span>
                            <br/>
                        </div>
                        <!--end::Title-->
                        <p class="mb-7">{{ novel.descricao }}
                        <!--end::Desc-->
                        <!--begin::Info-->
                        <div class="mb-7">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-dark-75 font-weight-bolder mr-2">Número de volumes:</span>
                                <a href="{% url 'novel_detalhes' novel.id %}" class="text-muted text-hover-primary">{{ novel.qdt_volumes }}</a>
                            </div>
                            <div class="d-flex justify-content-between align-items-cente my-1">
                                <span class="text-dark-75 font-weight-bolder mr-2">Comentários:</span>
                                <a href="#" class="text-muted text-hover-primary">{{ novel.qtd_comentarios }}</a>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-dark-75 font-weight-bolder mr-2">Publicado em:</span>
                                <span class="text-muted font-weight-bold">{{ novel.data|naturalday|title }}</span>
                            </div>
                        </div>
                        <!--end::Info-->
                        <a href="{% url 'novel_detalhes' novel.slug %}" style="position: relative; background: #444; color:#fff"
                           class="btn btn-block btn-sm btn-light-success font-weight-bolder text-uppercase py-4">Ler</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}